@page
@model TaskManagerApp.Pages.MyTasks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<br />
<h3>Are you sure you want to delete this?</h3>
<br />

@{
    var border = Model.MyTask.IsHighPriority ? "border-danger" : "border - dark";
    var style = Model.MyTask.IsCompleted ? "opacity: .5;" : "";
}

<div>
    <div class="card @border mb-3" style="max-width: 20rem; @style">
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(modelItem => Model.MyTask.Title)</h4>
            <p class="card-text">@Html.DisplayFor(modelItem => Model.MyTask.Description)</p>
        </div>
    </div>
</div>


<div>
    <form method="post">
        <input type="hidden" asp-for="MyTask.ID" />
        <input type="submit" value="Delete" class="btn btn-default btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
