@page
@model TaskManagerApp.Pages.MyTasks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="display-4">Create Task</h2>
<br />

<div class="row">
    <div class="col-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MyTask.Title" class="control-label"></label>
                <input asp-for="MyTask.Title" class="form-control" />
                <span asp-validation-for="MyTask.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyTask.Description" class="control-label"></label>
                <input asp-for="MyTask.Description" class="form-control" />
                <span asp-validation-for="MyTask.Description" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-left:20px">
                <div class="checkbox">
                    <label>
                        <input asp-for="MyTask.IsCompleted" /> Completed
                    </label>
                </div>
            </div>
            <div class="form-group" style="padding-left:20px">
                <div class="checkbox">
                    <label>
                        <input asp-for="MyTask.IsHighPriority" /> High Priority
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Task" class="btn btn-success" /> |
                <a asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
