@page
@model TaskManagerApp.Pages.MyTasks.IndexModel

@{
    ViewData["Title"] = "My Tasks";
}

<br />
<a asp-page="Create"><button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Create New Task">Create</button></a>
<hr />


<h2 class="display-4">My Tasks</h2>
<div class="row">
    @foreach (var item in Model.MyTask)
    {
        @if (item.IsHighPriority && !item.IsCompleted)
        {
            <partial name="_TaskCard.cshtml" model="item" />
        }
    }
    @foreach (var item in Model.MyTask)
    {
        @if (!item.IsHighPriority && !item.IsCompleted)
        {
            <partial name="_TaskCard.cshtml" model="item" />
        }
    }
</div>

<hr />
<h2 class="display-4">Completed Tasks</h2>
<div class="row">
    @foreach (var item in Model.MyTask)
    {
        @if (item.IsHighPriority && item.IsCompleted)
        {
            <partial name="_TaskCard.cshtml" model="item" />
        }
    }
    @foreach (var item in Model.MyTask)
    {
        @if (!item.IsHighPriority && item.IsCompleted)
        {
            <partial name="_TaskCard.cshtml" model="item" />
        }
    }
</div>

@section Scripts {
    <partial name="_TaskCardScript.cshtml" />
}